@import url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B497yz3nWuZEC.woff2);
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Lato:ital@1&family=Poppins&family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Lato:ital@1&family=Poppins&family=Roboto+Slab:wght@400;500&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

:root {
  --bg-white: #fff;
  --bg-dark-color: #03262c;
  /* text color*/
  --primary-text: #000000;
  --secondary-color: #5ccd7c;
  --light-color: #e2f6de;
  --dark-color: #03262c;
  --text-white: #fff;
  --text-grey: #dee2e6;
  --anchor-color: #007aff;
  /*font famile*/

  --secondary-font: 'Roboto Slab', serif;
  --primary-font: 'Barlow Condensed', serif;



}

body,
html {
  color: var(--primary-text);
  font-size: 10px;
  font-weight: 400;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
  line-height: 1.5;



}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 9rem;
  line-height: 1.4;
  font-weight: 600;
  color: var(--primary-text);
}

h3 {
  color: var(--text-white);
  font-size: 3.1rem;
  line-height: 1.2;
  font-weight: 700;


}

h4 {
  color: var(--primary-text);
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;

}

h5 {
  color: var(--primary-text);
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 600;

}

p {
  color: var(--secondary-font);
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 1rem;


}

embed,
iframe,
object {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
}

li a {
  color: var(--text-white);
}

a:hover,
button:hover {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}


::-webkit-scrollbar-track {
  background-color: var(--white);

}

::-webkit-scrollbar {
  width: 12px;
}

/* For custom scrollbar thumb */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}



.main-btn {
  position: relatie;
  color: var(--text-white);
  background: linear-gradient(to right, #0f7404, #5cb917);
  z-index: 1;
  overflow: hidden;
  border: 0.2rem solid var(--bg-white);
  border-radius: 3.5rem;
  text-transform: uppercase;
  padding: 1rem 3.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  letter-spacing: 0.2rem;
}

.main-btn:hover {
  background: var(--bg-white);
  color: var(--secondary-color);
  border: 0.2rem solid var(--secondary-color);

}

section {
  padding: 5rem 0;
}

.section-title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary-text);
  text-transform: capitalize;
  margin-bottom: 2rem;


}

.section-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-text);
  font-family: var(--secondary-font);
  max-width: 40%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.about .banner-section,
.product .banner-section,
.gallery .banner-section,
.contact .banner-section {
  background: url('../images/back.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
  min-height: auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 2rem;
  left: 0;
  z-index: 2;
}

.header .navbar {
  background: url('../images/header-bg.png');
  background-position: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0rem 5rem;
}

.header .navbar-nav .nav-link {
  color: var(--text-white);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  margin: 0 0.2rem;
  font-family: var(--primary-font);

}


.first-line {


  color: rgb(216, 195, 195);
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 10px;
  /* 133.333% */
  letter-spacing: 0.2px;
  margin-left: -10px;
  margin-top: 10px;
}

.second-line {


  color: rgb(185, 20, 61);
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  /* 133.333% */
  letter-spacing: 0.2px;
  margin-left: 20px;
}

.navbar-brand {
  width: 7.5rem;
  margin-top: -0.1rem;



}

.navbar-brand img {
  position: relative;
  margin-top: 0px;
  margin-left: 10px;
  height: 90px;
}

.header .navbar-nav .nav-link {
  color: var(--text-white);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  margin: 0 0.2rem;
  font-family: var(--primary-font);
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active {

  color: var(--secondary-color);

}

.header .navbar-toggler {
  color: var(--text-white) !important;
  font-size: 2rem;
  height: 2.7rem;
  padding: 0;


}

.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  color: var(--bg-white) !important;
}

.body .navbar-toggler:focus {
  outline: none;
  box-shadow: none;

}

.header .header_right span {
  color: var(--secondary-color);
  display: block;
  font-weight: 700;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.header .header_right .phone_no {
  color: var(--text-white);
  font-size: 1.6rem;
}

.header-scrolled {
  position: fixed;
  top: -0.4rem;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1320px;
  margin: auto;
  z-index: 999;
  transition: 0.3s all ease-in-out;
}

.container1 {


  width: 100%;
  min-height: 90vh;
  row-gap: 2rem;
  position: relative;


}

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
  object-position: center;

}

.container1 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}


.home-text {
  position: relative;
  z-index: 2;
  margin-top: 250px;
  margin-left: 9%;
  right: 0;
  text-align: left;
  background: rgb(0 0 0 /10%);
  display: inline-block;

}

.home-text h1 {
  font-size: 67px;
  color: #03703f;
}

.home-text h3 {
  padding: 0.5rem .5rem;
  background: var(--dark-color);
  display: inline;

}

.section {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(127, 76%, 80%);

}

.container1 {
  width: 80%;
  display: block;
  margin: auto;

}

.content-section {
  float: left;
  width: 55%;
  background-position: center;
  padding-top: 150px;
}

.content-section .content h2 {
  color: #020c22;
  font-size: 4.7rem;
  font-weight: 500;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-family: var(--primary-font);
  text-decoration: underline;
  /* Add some space above the heading */
  margin-top: 120px;
}

.image-section {
  float: right;
  width: 45%;
  height: auto;
  margin-top: 120px;

}

.image-section img {
  width: 100%;
  height: 70%;
}

.content-section .header h3 {
  font-size: 20px;
}


.content-section .content p {
  margin-top: 60px !important;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: black;
  position:relative;
}

.content-section .content .button {
  margin-top: 30px;
}

.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 12PX 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
  background-color: #a52a2a;
  color: #fff;

}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
  }

  .content-section {
    float: left;
    width: 55%;
    background-position: center;
    padding-top: 150px;
  }

  .image-section {
    float: right;
    width: 45%;
    height: 300px;
    width: 300px;


  }
}
