
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-ioP {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #4dd895;
  margin-left:120px;
}
.desktop-5-ioP .homeharmony-autism-fyX {
  width: 29.7rem;
  height: 9.7rem;
  position: absolute;
  left: 12.6rem;
  top: 1.6rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #fbea4f;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-ioP .hha-1-2-mFs {
  width: 14.9rem;
  height: 14.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-5-ioP .home-VxZ {
  width: 11.5rem;
  height: 4.9rem;
  position: absolute;
  left: 74.2rem;
  top: 1.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-ioP .features-Ddf {
  width: 17.2rem;
  height: 4.9rem;
  position: absolute;
  left: 94.5rem;
  top: 1.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-ioP .donate-wpZ {
  width: 14.1rem;
  height: 4.9rem;
  position: absolute;
  left: 121.4rem;
  top: 1.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0c0c0c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-ioP .frame-4-Tnu {
  box-sizing: border-box;
  padding: 1.5rem 0.9rem 0.9rem 0.9rem;
  width: 141.2rem;
  height: 86.5rem;
  position: absolute;
  left: 1.5rem;
  top: 13.7rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9200000167);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-4-bg-UKw.png');
}
.desktop-5-ioP .frame-4-Tnu .diet-chart-for-child-aged-16-20-years-kGD {
  margin: 0rem 0.8rem 5.1rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK {
  margin: 0rem 2.2rem 4rem 0rem;
  width: calc(100% - 2.2rem);
  height: 53rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-dwbf-N2h {
  width: 42.4rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-dwbf-N2h .group-2-iMT {
  margin-bottom: 1.4rem;
  width: 42.3rem;
  height: 32.8rem;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-dwbf-N2h .group-2-iMT .breakfast-whole-grain-cereal-with-almond-milk-and-a-banana-veggie-omelette-spinach-mushrooms-bell-peppers-with-a-slice-of-whole-grain-toast-greek-yogurt-with-mixed-berries-and-a-handful-of-nuts-protein-smoothie-with-spinach-peanut-butter-and-oat-milk-avocado-and-egg-toast-on-whole-grain-bread-riZ {
  max-width: 42.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-dwbf-N2h .auto-group-ef9f-fg1 {
  box-sizing: border-box;
  padding: 1.5rem 1.2rem 0.3rem 0.8rem;
  width: 100%;
  background-color: rgba(207, 198, 183, 0.5799999833);
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-dwbf-N2h .auto-group-ef9f-fg1 .dessert-treats-in-moderation-fruit-salad-dark-chocolate-baked-fruit-crisps-yogurt-with-honey-and-cinnamon-homemade-banana-bread-or-muffins-with-reduced-sugar-zyB {
  max-width: 40.4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw {
  box-sizing: border-box;
  padding-left: 3.6rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-9m7b-CZT {
  margin-right: 3.8rem;
  width: 43.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-9m7b-CZT .group-3-8xu {
  margin: 0rem 0rem 1.944rem 0.1rem;
  box-sizing: border-box;
  padding: 1.036rem 0.803rem 1.036rem 1.297rem;
  height: 33.556rem;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-9m7b-CZT .group-3-8xu .lunch-grilled-chicken-or-fish-salad-with-a-variety-of-fresh-vegetables-and-olive-oil-dressing-quinoa-bowl-with-black-beans-corn-avocado-and-lime-juice-turkey-or-veggie-sandwich-on-whole-grain-bread-with-lettuce-tomato-and-mustard-lentil-soup-with-a-side-of-whole-grain-roll-rice-and-vegetable-stir-fry-with-tofu-or-shrimp-FXj {
  max-width: 41.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-9m7b-CZT .group-4-epm {
  width: 100%;
  height: 14.2rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-9m7b-CZT .group-4-epm .rectangle-2-bzu {
  width: 43.6rem;
  height: 14.2rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: rgba(217, 217, 217, 0.4300000072);
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-9m7b-CZT .group-4-epm .drinks-plenty-of-water-throughout-the-day-herbal-or-green-tea-unsweetened-fresh-fruit-juice-in-moderation-Y9T {
  width: 34.4rem;
  height: 9.7rem;
  position: absolute;
  left: 0;
  top: 2.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-vu21-oLH {
  width: 43.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-vu21-oLH .group-5-M6u {
  margin-bottom: 3.3rem;
  box-sizing: border-box;
  padding: 0.7rem 1rem 0.7rem 0.7rem;
  width: 100%;
  height: 25.9rem;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-vu21-oLH .group-5-M6u .dinner-baked-salmon-or-tofu-with-quinoa-and-steamed-broccoli-whole-wheat-pasta-with-tomato-sauce-and-lean-ground-beef-or-lentils-grilled-chicken-breast-with-sweet-potato-and-green-beans-beef-or-vegetable-stir-fry-with-brown-rice-veggie-pizza-on-a-whole-grain-crust-s5F {
  max-width: 42rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-vu21-oLH .group-6-Uqj {
  box-sizing: border-box;
  padding: 0.8rem 0.7rem;
  width: 100%;
  height: 20.5rem;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .auto-group-kzz1-3FK .auto-group-qzzf-eXw .auto-group-vu21-oLH .group-6-Uqj .snacks-apple-slices-with-almond-butter-carrot-and-cucumber-sticks-with-hummus-mixed-nuts-and-dried-fruits-whole-grain-crackers-with-cheese-a-piece-of-fruit-eg-pear-peach-orange-2cM {
  max-width: 41rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-ioP .frame-4-Tnu .group-7-r5b {
  margin: 0 9rem;
  box-sizing: border-box;
  padding: 4.8rem 2.9rem 3.6rem 7.9rem;
  width: calc(100% - 18rem);
  height: 18.1rem;
  background-color: rgba(27, 197, 114, 0.4900000095);
  flex-shrink: 0;
}
.desktop-5-ioP .frame-4-Tnu .group-7-r5b .its-important-to-monitor-for-any-food-allergies-or-sensitivities-and-adjust-the-diet-accordingly-meals-should-be-balanced-including-a-variety-of-food-groups-to-ensure-adequate-intake-of-all-essential-nutrients-remember-consulting-a-dietitian-or-healthcare-professional-is-crucial-for-personalized-dietary-advice-especially-for-individuals-with-specific-health-conditions-or-nutritional-needs-xPX {
  max-width: 110.6rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.home-VxZ a{
  text-decoration: none;
}
.features-Ddf a{
  text-decoration: none;
}
.donate-wpZ a{
  text-decoration: none;
}