
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-Dvd {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  margin-left:130px;
}
.desktop-4-Dvd .homeharmony-autism-N2q {
  width: 29.7rem;
  height: 9.7rem;
  position: absolute;
  left: 12.6rem;
  top: 1.6rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #fbea4f;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-Dvd .hha-1-2-f1w {
  width: 14.9rem;
  height: 14.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-Dvd .home-bgH {
  width: 11.5rem;
  height: 4.9rem;
  position: absolute;
  left: 74.2rem;
  top: 1.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-Dvd .features-7Pj {
  width: 17.2rem;
  height: 4.9rem;
  position: absolute;
  left: 94.5rem;
  top: 1.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-Dvd .donate-DxZ {
  width: 14.1rem;
  height: 4.9rem;
  position: absolute;
  left: 121.4rem;
  top: 1.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0c0c0c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-Dvd .frame-4-kSh {
  box-sizing: border-box;
  padding: 1.7rem 0.9rem 2.2rem 0.9rem;
  width: 141.2rem;
  height: 86.5rem;
  position: absolute;
  left: 1.5rem;
  top: 13.7rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9200000167);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-4-bg.png');
}
.desktop-4-Dvd .frame-4-kSh .diet-chart-for-child-aged-11-15-years-qDF {
  margin: 0rem 0rem 4.9rem 2.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-4huf-j3j {
  margin: 0rem 2.2rem 2.1rem 0.1rem;
  width: calc(100% - 2.3rem);
  height: 27.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-4huf-j3j .group-2-eRb {
  width: 42.3rem;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-4huf-j3j .group-2-eRb .breakfast-scrambled-eggs-with-spinach-and-whole-grain-toast-greek-yogurt-with-granola-and-mixed-berries-smoothie-with-banana-kale-and-almond-milk-oatmeal-with-sliced-apples-and-a-sprinkle-of-cinnamon-avocado-toast-on-whole-grain-bread-with-cherry-tomatoes-Cxu {
  max-width: 40rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-Dvd .frame-4-kSh .auto-group-4huf-j3j .auto-group-8d2d-S6Z {
  box-sizing: border-box;
  padding-left: 3.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-4huf-j3j .auto-group-8d2d-S6Z .group-3-BK3 {
  margin-right: 3.7rem;
  box-sizing: border-box;
  padding: 0.8rem 2.1rem 0.8rem 1.3rem;
  height: 25.9rem;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-4huf-j3j .auto-group-8d2d-S6Z .group-3-BK3 .lunch-grilled-chicken-or-tofu-wrap-with-whole-grain-tortilla-and-veggies-quinoa-salad-with-chickpeas-cucumber-and-feta-cheese-turkey-or-veggie-burger-with-a-side-salad-brown-rice-bowl-with-black-beans-salsa-and-avocado-lentil-soup-with-whole-grain-crackers-Hss {
  max-width: 40.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-Dvd .frame-4-kSh .auto-group-4huf-j3j .auto-group-8d2d-S6Z .group-5-7c1 {
  box-sizing: border-box;
  padding: 1.5rem 0.3rem 0.1rem 1.4rem;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-4huf-j3j .auto-group-8d2d-S6Z .group-5-7c1 .dinner-baked-or-grilled-salmon-with-sweet-potato-wedges-and-broccoli-stir-fried-tofu-or-chicken-with-a-variety-of-colorful-vegetables-and-quinoa-spaghetti-with-tomato-sauce-lean-ground-turkey-and-whole-grain-noodles-vegetable-curry-with-brown-rice-grilled-steak-with-roasted-brussels-sprouts-and-mashed-cauliflower-4GM {
  max-width: 42rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-Dvd .frame-4-kSh .auto-group-bgfp-EKF {
  margin: 0rem 2.2rem 3.9rem 0rem;
  display: flex;
  column-gap: 3.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-bgfp-EKF .auto-group-iowd-Yqj {
  margin-top: 0.8rem;
  box-sizing: border-box;
  padding: 0.1rem;
  width: 42.4rem;
  height: 24.9rem;
  background-color: rgba(207, 198, 183, 0.4799999893);
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-bgfp-EKF .auto-group-iowd-Yqj .snacks-fresh-fruit-grapes-berries-melon-slices-vegetable-sticks-carrots-bell-peppers-with-hummus-nuts-and-seeds-mix-almonds-walnuts-sunflower-seeds-cheese-and-whole-grain-crackers-yogurt-parfait-with-granola-and-sliced-strawberries-5am {
  max-width: 40.4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-Dvd .frame-4-kSh .auto-group-bgfp-EKF .group-4-WRB {
  width: 43.7rem;
  height: 15.54rem;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-bgfp-EKF .group-4-WRB .dessert-treats-in-moderation-dark-chocolate-squares-fruit-sorbet-baked-apple-slices-with-cinnamon-greek-yogurt-popsicles-gluten-free-cookies-T5X {
  max-width: 33.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-Dvd .frame-4-kSh .auto-group-bgfp-EKF .group-6-KdX {
  box-sizing: border-box;
  padding: 0.9rem 1.4rem;
  width: 43.7rem;
  height: 15.5rem;
  background-color: rgba(217, 217, 217, 0.4300000072);
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .auto-group-bgfp-EKF .group-6-KdX .drinks-water-should-be-the-primary-drink-herbal-teas-unsweetened-limit-sugary-drinks-and-caffeinated-beverages-fSV {
  max-width: 34.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-Dvd .frame-4-kSh .group-7-YmB {
  margin: 0rem 9.1rem 0rem 8.9rem;
  box-sizing: border-box;
  padding: 2.3rem 6.9rem 2.3rem 7rem;
  width: calc(100% - 18rem);
  height: 15rem;
  background-color: rgba(63, 167, 110, 0.48);
  flex-shrink: 0;
}
.desktop-4-Dvd .frame-4-kSh .group-7-YmB .its-crucial-to-remember-that-every-childs-needs-and-preferences-are-unique-especially-for-those-on-the-autism-spectrum-consulting-with-a-healthcare-professional-or-dietitian-is-essential-to-tailor-the-diet-plan-to-the-specific-health-requirements-dietary-restrictions-and-sensory-sensitivities-of-the-individual-fau {
  max-width: 107.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}



.home-bgH a{
  text-decoration: none;
}
.features-7Pj a{
  text-decoration: none;
}
.donate-DxZ a{
  text-decoration: none;
}