*{
margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
box-sizing: border-box;
font-weight: normal;
text-transform: capitalize;
}

body{
    background: #eee;
}
.heading{
    color: #444;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}


.container2{ 
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
    
}

.container2 .main-video{
    
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    margin-top:120px;
    
}
.container2 .main-video video{
    width: 50%;
    border-radius: 5px;
}
.container2 .main-video .title{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container2 .video-list{
    background: #fff;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
    margin-top:100px;

}
.container2 .video-list::-webkit-scrollbar{
width: 7px;

}
.container2 .video-list::-webkit-scrollbar-tracker{
    background: #ccc;
    border-radius: 50px;
}
.container .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
}
.container2 .video-list .vid video{
    width: 100px;
    border-radius: 5px;

}
.container2 .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.container2 .video-list .vid:hover{
    background: #eee;
}
.container2 .video-list .vid.active{
    background: #2980b9;
}
.container2 .video-list .vid.active .title{
    color: #e6e4e4;
}
.container2 .video-list .vid .title{
    color: #333;
    font-size: 17px;
}


@media (max-width:800px){
    .container{
      
        grid-template-columns: 1.5fr 1fr;
        
        padding: 10px;
        
    }   
}
@media (max-width:768px){
    .container{
      
        grid-template-columns: 1fr;
        
        
        
    }   
}  