@import url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B497yz3nWuZEC.woff2);
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Lato:ital@1&family=Poppins&family=Roboto+Slab:wght@400;500&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
    --bg-white: #fff;
    --bg-dark-color: #03262c;
    /* text color */
    --primary-text: #bfc3cc;
    --secondary-color: #5ccd7c;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --text-grey: #dee2e6;
    --anchor-color: #007aff;
    /* font family */

    --secondary-font: 'Roboto Slab', serif;
    --primary-font: 'Barlow Condensed', serif;
}

embed,
iframe,
object {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: 0;
}

li a {
    color: var(--text-white);
}

a:hover,
button:hover {
    transition: all 0.3s ease-in;
}

::webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

.main-btn {
    position: relative;
    color: var(--text-white);
    background: linear-gradient(to right, #0f7404, #5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}

.main-btn:hover {
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
}




.container {
    margin-top: 0; /* Adjust the margin-top value */
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
   
}


body {
    margin: 0;
    background: #0f7404;
    /* Remove padding-top: 4.5rem; */
}

.container {
    margin-top: -1rem; /* Adjust the margin-top value */
}
.header .navbar {
    background: url('header-bg.png') no-repeat center/contain;
    padding: 1rem 2rem;
}

.header .navbar-nav .nav-link {
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}

.first-line {
    color: rgb(216, 195, 195);
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 10px;
    letter-spacing: 0.2px;
    margin-left: -10px;
    margin-top: 10px;
}

.second-line {
    color: rgb(185, 20, 61);
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-left: 20px;
}

.navbar-brand {
    width: 7.5rem;
    margin-top: -0.1rem;
}

.navbar-brand img {
    position: relative;
    margin-top: 0px;
    margin-left: 10px;
    height: 90px;
}

.header .navbar-nav .nav-link {
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

.header .navbar-toggler {
    color: var(--text-white) !important;
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}

.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    color: var(--bg-white) !important;
}

.body .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header .header_right span {
    color: var(--secondary-color);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.header .header_right .phone_no {
    color: var(--text-white);
    font-size: 1.6rem;
}

.header-scrolled {
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;
}


/* In your CSS file or style tag */


.progress-label-left {
    float: left;
    margin-right: 0.5em;
    line-height: 1em;
}

.progress-label-right {
    float: right;
    margin-left: 0.3em;
    line-height: 1em;
}

.star-light {
    color: #e9ecef;
}
body {
    padding-top: 3rem; /* Adjust the padding-top value based on your navbar height */
}
.review-container {
    max-width: 1200px; /* Set the maximum width as per your preference */
    margin: 0 auto; /* Center the container horizontally */
}

.container {
    margin-top: 0rem; /* Adjust the margin-top value to leave space for the fixed navbar */
}

.write-experience-box {
    background-color: #5ccd7c;
}
