
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 63.8rem;
}.group-1-VJU {
  width: 100%;
  height: 40.5rem;
  position: relative;

  .frame-1-Y1r {
    top: 0;
    overflow: hidden;
    background-color: #964646;
    width: 63.8rem;
    height: 40.5rem;
    position: absolute;
    left: 0;

    .unsplash-cp-b69ooyn4-RE4 {
      width: 69.7rem;
      height: 43.6rem;
      position: absolute;
      left: 15rem;
      top: -3.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .frame-2-JYk {
      width: 25.7rem;
      height: 40.5rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: rgba(194, 50, 19, 0.9200000167);
    }
    .back-1xx {
      top: 0.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      left: 59.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 2.8rem;
      height: 1.5rem;
    }
  }
  .support-homeharmony-autism-every-contribution-counts-join-our-mission-in-empowering-autistic-children-with-specialized-care-and-education-your-generosity-opens-doors-to-a-world-where-every-child-gets-the-opportunity-to-shine-why-your-donation-matters-empowerment-tailored-educational-resources-for-autistic-children-support-building-a-nurturing-community-that-values-diversity-impact-directly-enhance-the-lives-of-these-wonderful-children-ways-to-donate-bkash-01723580800-nagad-01758555999-rocket-01489240056-bank-transfer-islami-bank-lt-account-name-mutasaddika-noushin-account-number-001736498555y620078-branch-all-brunches-in-bd-donate-here-your-donation-page-url-together-we-can-create-endless-possibilities--4gL {
    width: 58.8rem;
    position: absolute;
    font-size: 1.2rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 36.4rem;
    left: 1.9rem;
    top: 2.5rem;
    font-weight: 400;
    line-height: 1.2125;

    .support-homeharmony-autism-every-contribution-counts-join-our-mission-in-empowering-autistic-children-with-specialized-care-and-education-your-generosity-opens-doors-to-a-world-where-every-child-gets-the-opportunity-to-shine-why-your-donation-matters-empowerment-tailored-educational-resources-for-autistic-children-support-building-a-nurturing-community-that-values-diversity-impact-directly-enhance-the-lives-of-these-wonderful-children-ways-to-donate-bkash-01723580800-nagad-01758555999-rocket-01489240056-bank-transfer-islami-bank-lt-account-name-mutasaddika-noushin-account-number-001736498555y620078-branch-all-brunches-in-bd-donate-here-your-donation-page-url-together-we-can-create-endless-possibilities--4gL-sub-0 {
    }
    .support-homeharmony-autism-every-contribution-counts-join-our-mission-in-empowering-autistic-children-with-specialized-care-and-education-your-generosity-opens-doors-to-a-world-where-every-child-gets-the-opportunity-to-shine-why-your-donation-matters-empowerment-tailored-educational-resources-for-autistic-children-support-building-a-nurturing-community-that-values-diversity-impact-directly-enhance-the-lives-of-these-wonderful-children-ways-to-donate-bkash-01723580800-nagad-01758555999-rocket-01489240056-bank-transfer-islami-bank-lt-account-name-mutasaddika-noushin-account-number-001736498555y620078-branch-all-brunches-in-bd-donate-here-your-donation-page-url-together-we-can-create-endless-possibilities--4gL-sub-1 {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .support-homeharmony-autism-every-contribution-counts-join-our-mission-in-empowering-autistic-children-with-specialized-care-and-education-your-generosity-opens-doors-to-a-world-where-every-child-gets-the-opportunity-to-shine-why-your-donation-matters-empowerment-tailored-educational-resources-for-autistic-children-support-building-a-nurturing-community-that-values-diversity-impact-directly-enhance-the-lives-of-these-wonderful-children-ways-to-donate-bkash-01723580800-nagad-01758555999-rocket-01489240056-bank-transfer-islami-bank-lt-account-name-mutasaddika-noushin-account-number-001736498555y620078-branch-all-brunches-in-bd-donate-here-your-donation-page-url-together-we-can-create-endless-possibilities--4gL-sub-2 {
    }
  }
}
